{% extends "base.html.twig" %}

{% block title %}
	Profil utilisateurs
{% endblock %}

{% block body %}
	{{ include('includes/header.html.twig') }}
	<h1>Gestion du profil des utilisateurs</h1>

{% endblock %}
