{% extends "base.html.twig" %}

{% block title %}Administartion des utilisateurs {% endblock %}

{% block body %}
{{ include('includes/header.html.twig') }}
<h1>Administration des Utilisateurs</h1>

{% endblock %}