
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
  
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Pôle emploi, Inc</p>

    <ul class="nav col-md-4 justify-content-center">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Accueil</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
    </ul>

  </footer>